@media screen and (max-width: 768px){
    body{
        background: url('./images/bmibg2.jpeg');
    }
    
    .bmi{
        position: absolute;
        background-color: gainsboro;
        top: 20px;
        left: 50%;
        height: 70vh;
        width: 18em;
    }
    p{
        background: -webkit-linear-gradient( 179deg,  rgba(0,0,0,1) 9.2%, rgba(127,16,16,1) 103.9% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
}
@media screen and (min-width: 769px){
    body{
        background: url('./images/bmibg2.jpeg');
    }
    .bmi{
        position: absolute;
        background-color: gainsboro;
        top: 20px;
        left: 50%;
        height: 90vh;
        width: 35em;
    }
    p{
        background: -webkit-linear-gradient( 179deg,  rgba(0,0,0,1) 9.2%, rgba(127,16,16,1) 103.9% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
}